<div class="page">
    <md-content class="header header_fixed">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Audio" ng-href="#!/">
                    <md-icon md-svg-icon="app/img/icons/ic_audiotrack_48px.svg" style="color: white;"></md-icon>
                </md-button>
                <h2 style="color: white;">
                    <span shri-i18n="app_name_short">Аудио Плеер</span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
    </md-content>
    <div class="page__inner">
        <div class="page__content">
            <div class="dropzone" droppable ng-show="tracks.length == 0 && !loading">
                <input hidden type="file" multiple id="files_input" accept="audio/*" onchange="angular.element(this).scope().openFiles(event)">
                <div class="dropzone__center">
                    <div class="dropzone__jump-block dropzone__jump-block_dir_left"></div>
                    <div class="dropzone__jump-block dropzone__jump-block_dir_right"></div>
                    <div class="dropzone__image">
                        <div class="dropzone__image-src">
                            <md-icon md-svg-icon="app/img/icons/ic_audiotrack_48px.svg" style="color: white;"></md-icon>
                        </div>
                        <div class="dropzone__message" shri-i18n="draggable_message"></div>
                    </div>
                </div>
            </div>
            <div class="tracks" ng-show="tracks.length > 0">
                <div class="tracks__inner" ng-class="{'tracks__inner_offset': curPanelState === 'opened' && tracks.length > 4}">
                    <div class="track-wrapper repeated-item" ng-repeat="track in tracks">
                        <md-button class="track" md-ripple-size="partial" ng-click="playTrack(track, $event)">
                            <div class="track__state" ng-class="{'track__state_type_current': track.id === curTrack.id}" ng-switch="curState" ng-show="track.id === curTrack.id">
                                <md-icon md-svg-icon="app/img/icons/ic_play_arrow_48px.svg" style="color: #555;" ng-switch-when="playing"></md-icon>
                                <md-icon md-svg-icon="app/img/icons/ic_pause_48px.svg" style="color: #555;" ng-switch-when="stopped"></md-icon>
                            </div>
                            <div class="track__info">
                                <div class="track__name">{{track.name}}</div>
                                <div class="track__artist">{{track.artist}}</div>
                            </div>
                            <div class="track__spinner" ng-show="track.isDecoding">
                                <md-progress-circular md-mode="indeterminate" class="progress-circular__small"></md-progress-circular>
                            </div>
                            <div class="track__ready" ng-show="!!track.audioBuffer">
                                <md-icon md-svg-icon="app/img/icons/ic_done_all_48px.svg" style="color: #555;"></md-icon>
                            </div>
                        </md-button>
                        <div class="track__menu">
                            <md-menu onclick="event.cancelBubble = true;">
                                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <md-icon md-menu-origin md-svg-icon="app/img/icons/ic_more_vert_48px.svg" style="color: #555;"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="deleteTrack(track, $event)">
                                            <md-icon md-svg-icon="app/img/icons/ic_delete_48px.svg" style="color: #555;"></md-icon>
                                            <span shri-i18n="delete_track"></span>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="player" ng-show="playing" ng-class="{'player_state_opened': curPanelState === 'opened'}">
        <div class="player__inner">
            <div class="player__overlay">
                <div class="player__waveform"></div>
            </div>
            <div class="player__inner-track" ng-class="{'player__inner-track_type_innactive': curState === 'stopped'}">
                <div class="player__controls" ng-switch="curState">
                    <div class="player__play" ng-switch-when="stopped">
                        <md-button class="md-icon-button player__play-button" aria-label="Play" ng-click="play()">
                            <md-tooltip md-direction="top">
                                Играть
                            </md-tooltip>
                            <md-icon md-svg-icon="app/img/icons/ic_play_arrow_48px.svg" style="color: #777;"></md-icon>
                        </md-button>
                    </div>
                    <div class="player__pause" ng-switch-default>
                        <md-button class="md-icon-button player__pause-button" aria-label="Pause" ng-click="pause()">
                            <md-tooltip md-direction="top">
                                Пауза
                            </md-tooltip>
                            <md-icon md-svg-icon="app/img/icons/ic_pause_48px.svg" style="color: #777;"></md-icon>
                        </md-button>
                    </div>
                </div>
                <div class="player__cur-track" ng-bind="curTrack.name"></div>
                <div class="player__repeat" ng-class="{'player__repeat_pressed': isLoop}">
                    <md-button class="md-icon-button" aria-label="Repeat button" ng-click="toggleLoop($event)">
                        <md-tooltip md-direction="top">
                            Повторять
                        </md-tooltip>
                        <md-icon md-svg-icon="app/img/icons/ic_repeat_48px.svg" style="color: #777;"></md-icon>
                    </md-button>
                </div>
                <div class="player__equalizer">
                    <md-button class="md-icon-button" aria-label="Equalizer" ng-click="openEqualizer($event)">
                        <md-tooltip md-direction="top">
                            Применить фильтр
                        </md-tooltip>
                        <md-icon md-svg-icon="app/img/icons/ic_equalizer_48px.svg" style="color: #777;"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>